psycopg2-binary~=2.9.3
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
django-cors-headers==4.2.0
Django==4.1
postgres==4.0
PyJWT==2.8.0
sqlparse==0.4.3
pysqlite3-binary>=0.0.1
pysqlite3>=0.0.1
